<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Elasticsearch\Model\Indexer\IndexerHandler">
        <arguments>
            <argument name="batchSize" xsi:type="string">100</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="resize_graphql_image" xsi:type="object">Chiaki\Catalog\Console\Command\ResizeImage
                </item>
            </argument>
        </arguments>
    </type>
</config>
