<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog">
            <group id="product_graphql_image" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1">
                <label>Product GraphQl Image</label>
                <field id="enable_resize" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Resize</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="small_image_width" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Small Image Width</label>
                </field>
                <field id="small_image_height" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Small Image Height</label>
                </field>
            </group>
            <group id="best_seller" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1">
                <label>Best Seller Graphql</label>
                <field id="period" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Period</label>
                    <source_model>Chiaki\Catalog\Model\Config\Source\Period</source_model>
                </field>
                <field id="period_category" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Period Category</label>
                </field>
            </group>
        </section>
    </system>
</config>
