<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Chiaki\Config\Api\ChiakiConfigRepositoryInterface" type="Chiaki\Config\Model\ChiakiConfigRepository"/>
	<preference for="Chiaki\Config\Api\Data\ChiakiConfigInterface" type="Chiaki\Config\Model\Data\ChiakiConfig"/>
	<preference for="Chiaki\Config\Api\Data\ChiakiConfigSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Chiaki\Config\Model\ResourceModel\ChiakiConfig\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">chiaki_config</argument>
			<argument name="resourceModel" xsi:type="string">Chiaki\Config\Model\ResourceModel\ChiakiConfig\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="chiaki_config_chiakiconfig_listing_data_source" xsi:type="string">Chiaki\Config\Model\ResourceModel\ChiakiConfig\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
